{
    "semi": true,
    "arrowParens": "always",
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "endOfLine": "auto",
    "printWidth": 120
}
